.home-container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 0;
}
header{
  display: flex;
  justify-content: space-between;
}
.home-textarea{
  width: 300px;
  height: 200px;
  border: 1px solid #ccc;
}
.scroll-container{
  width: 400px;
  height: 400px;
  margin: 0 auto;
  overflow-y: auto;
  border: 1px solid #ccc;
}