<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>item - 2</key>
	<dict>
		<key>name</key>
		<string>lottie_default_2</string>
		<key>displayName</key>
		<string>[Partying Face]</string>
	</dict>
	<key>item - 3</key>
	<dict>
		<key>name</key>
		<string>lottie_default_3</string>
		<key>displayName</key>
		<string>[Smiling Face with Heart-Eyes]</string>
	</dict>
	<key>item - 4</key>
	<dict>
		<key>name</key>
		<string>lottie_default_4</string>
		<key>displayName</key>
		<string>[Winking Face]</string>
	</dict>
	<key>item - 5</key>
	<dict>
		<key>name</key>
		<string>lottie_default_5</string>
		<key>displayName</key>
		<string>[Smirking Face]</string>
	</dict>
	<key>item - 6</key>
	<dict>
		<key>name</key>
		<string>lottie_default_6</string>
		<key>displayName</key>
		<string>[Kissing Face]</string>
	</dict>
	<key>item - 7</key>
	<dict>
		<key>name</key>
		<string>lottie_default_7</string>
		<key>displayName</key>
		<string>[Face Screaming in Fear]</string>
	</dict>
	<key>item - 8</key>
	<dict>
		<key>name</key>
		<string>lottie_default_8</string>
		<key>displayName</key>
		<string>[Smiling Face]</string>
	</dict>
	<key>item - 9</key>
	<dict>
		<key>name</key>
		<string>lottie_default_9</string>
		<key>displayName</key>
		<string>[Sleeping Face]</string>
	</dict>
	<key>item - 10</key>
	<dict>
		<key>name</key>
		<string>lottie_default_10</string>
		<key>displayName</key>
		<string>[Grinning Squinting Face]</string>
	</dict>
	<key>item - 11</key>
	<dict>
		<key>name</key>
		<string>lottie_default_11</string>
		<key>displayName</key>
		<string>[Rolling on the Floor Laughing]</string>
	</dict>
	<key>item - 12</key>
	<dict>
		<key>name</key>
		<string>lottie_default_12</string>
		<key>displayName</key>
		<string>[Zany Face]</string>
	</dict>
	<key>item - 13</key>
	<dict>
		<key>name</key>
		<string>lottie_default_13</string>
		<key>displayName</key>
		<string>[Face with Symbols on Mouth]</string>
	</dict>
	<key>item - 14</key>
	<dict>
		<key>name</key>
		<string>lottie_default_14</string>
		<key>displayName</key>
		<string>[Face with Steam From Nose]</string>
	</dict>
	<key>item - 15</key>
	<dict>
		<key>name</key>
		<string>lottie_default_15</string>
		<key>displayName</key>
		<string>[Hot Face]</string>
	</dict>
	<key>item - 16</key>
	<dict>
		<key>name</key>
		<string>lottie_default_16</string>
		<key>displayName</key>
		<string>[Smiling Face with Halo]</string>
	</dict>
	<key>item - 17</key>
	<dict>
		<key>name</key>
		<string>lottie_default_17</string>
		<key>displayName</key>
		<string>[Yawning Face]</string>
	</dict>
	<key>item - 18</key>
	<dict>
		<key>name</key>
		<string>lottie_default_18</string>
		<key>displayName</key>
		<string>[Upside-Down Face]</string>
	</dict>
	<key>item - 19</key>
	<dict>
		<key>name</key>
		<string>lottie_default_19</string>
		<key>displayName</key>
		<string>[Face with Hand Over Mouth]</string>
	</dict>
	<key>item - 20</key>
	<dict>
		<key>name</key>
		<string>lottie_default_20</string>
		<key>displayName</key>
		<string>[Lying Face]</string>
	</dict>
	<key>item - 21</key>
	<dict>
		<key>name</key>
		<string>lottie_default_21</string>
		<key>displayName</key>
		<string>[Disguised Face]</string>
	</dict>
	<key>item - 22</key>
	<dict>
		<key>name</key>
		<string>lottie_default_22</string>
		<key>displayName</key>
		<string>[Frowning Face]</string>
	</dict>
	<key>item - 23</key>
	<dict>
		<key>name</key>
		<string>lottie_default_23</string>
		<key>displayName</key>
		<string>[Hatching Chick]</string>
	</dict>
	<key>item - 24</key>
	<dict>
		<key>name</key>
		<string>lottie_default_24</string>
		<key>displayName</key>
		<string>[Zipper-Mouth Face]</string>
	</dict>
	<key>item - 25</key>
	<dict>
		<key>name</key>
		<string>lottie_default_25</string>
		<key>displayName</key>
		<string>[Saluting Face]</string>
	</dict>
	<key>item - 26</key>
	<dict>
		<key>name</key>
		<string>lottie_default_26</string>
		<key>displayName</key>
		<string>[Face with Raised Eyebrow]</string>
	</dict>
	<key>item - 27</key>
	<dict>
		<key>name</key>
		<string>lottie_default_27</string>
		<key>displayName</key>
		<string>[Shaking Face]</string>
	</dict>
	<key>item - 28</key>
	<dict>
		<key>name</key>
		<string>lottie_default_28</string>
		<key>displayName</key>
		<string>[Money-Mouth Face]</string>
	</dict>
	<key>item - 29</key>
	<dict>
		<key>name</key>
		<string>lottie_default_29</string>
		<key>displayName</key>
		<string>[Smiling Face with Hearts]</string>
	</dict>
	<key>item - 30</key>
	<dict>
		<key>name</key>
		<string>lottie_default_30</string>
		<key>displayName</key>
		<string>[Sneezing Face]</string>
	</dict>
	<key>item - 31</key>
	<dict>
		<key>name</key>
		<string>lottie_default_31</string>
		<key>displayName</key>
		<string>[Handshake]</string>
	</dict>
	<key>item - 32</key>
	<dict>
		<key>name</key>
		<string>lottie_default_32</string>
		<key>displayName</key>
		<string>[Love-You Gesture]</string>
	</dict>
	<key>item - 33</key>
	<dict>
		<key>name</key>
		<string>lottie_default_33</string>
		<key>displayName</key>
		<string>[Victory Hand]</string>
	</dict>
	<key>item - 34</key>
	<dict>
		<key>name</key>
		<string>lottie_default_34</string>
		<key>displayName</key>
		<string>[Raised Hand]</string>
	</dict>
	<key>item - 35</key>
	<dict>
		<key>name</key>
		<string>lottie_default_35</string>
		<key>displayName</key>
		<string>[Backhand Index Pointing Up]</string>
	</dict>
	<key>item - 36</key>
	<dict>
		<key>name</key>
		<string>lottie_default_36</string>
		<key>displayName</key>
		<string>[Backhand Index Pointing Down]</string>
	</dict>
	<key>item - 37</key>
	<dict>
		<key>name</key>
		<string>lottie_default_37</string>
		<key>displayName</key>
		<string>[Backhand Index Pointing Left]</string>
	</dict>
	<key>item - 38</key>
	<dict>
		<key>name</key>
		<string>lottie_default_38</string>
		<key>displayName</key>
		<string>[OK Hand]</string>
	</dict>
	<key>item - 39</key>
	<dict>
		<key>name</key>
		<string>lottie_default_39</string>
		<key>displayName</key>
		<string>[Clapping Hands]</string>
	</dict>
	<key>item - 40</key>
	<dict>
		<key>name</key>
		<string>lottie_default_40</string>
		<key>displayName</key>
		<string>[Thumbs Up]</string>
	</dict>
	<key>item - 41</key>
	<dict>
		<key>name</key>
		<string>lottie_default_41</string>
		<key>displayName</key>
		<string>[Folded Hands]</string>
	</dict>
	<key>item - 42</key>
	<dict>
		<key>name</key>
		<string>lottie_default_42</string>
		<key>displayName</key>
		<string>[Palms Up Together]</string>
	</dict>
	<key>item - 43</key>
	<dict>
		<key>name</key>
		<string>lottie_default_43</string>
		<key>displayName</key>
		<string>[Oncoming Fist]</string>
	</dict>
	<key>item - 44</key>
	<dict>
		<key>name</key>
		<string>lottie_default_44</string>
		<key>displayName</key>
		<string>[Pinching Hand]</string>
	</dict>
	<key>item - 45</key>
	<dict>
		<key>name</key>
		<string>lottie_default_45</string>
		<key>displayName</key>
		<string>[Backhand Index Pointing Right]</string>
	</dict>
	<key>item - 46</key>
	<dict>
		<key>name</key>
		<string>lottie_default_46</string>
		<key>displayName</key>
		<string>[Alien]</string>
	</dict>
	<key>item - 47</key>
	<dict>
		<key>name</key>
		<string>lottie_default_47</string>
		<key>displayName</key>
		<string>[Rose]</string>
	</dict>
	<key>item - 48</key>
	<dict>
		<key>name</key>
		<string>lottie_default_48</string>
		<key>displayName</key>
		<string>[Heart Broken]</string>
	</dict>
</dict>
</plist>
