<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>item - 1</key>
	<dict>
		<key>name</key>
		<string>lottie_alien_1</string>
		<key>displayName</key>
		<string>[Smiling Face with Heart-Eyes]</string>
	</dict>
	<key>item - 2</key>
	<dict>
		<key>name</key>
		<string>lottie_alien_2</string>
		<key>displayName</key>
		<string>[Sneezing Face]</string>
	</dict>
	<key>item - 3</key>
	<dict>
		<key>name</key>
		<string>lottie_alien_3</string>
		<key>displayName</key>
		<string>[Victory Hand]</string>
	</dict>
	<key>item - 4</key>
	<dict>
		<key>name</key>
		<string>lottie_alien_4</string>
		<key>displayName</key>
		<string>[Downcast Face with Sweat]</string>
	</dict>
	<key>item - 5</key>
	<dict>
		<key>name</key>
		<string>lottie_alien_5</string>
		<key>displayName</key>
		<string>[Hushed Face]</string>
	</dict>
	<key>item - 6</key>
	<dict>
		<key>name</key>
		<string>lottie_alien_6</string>
		<key>displayName</key>
		<string>[Face Vomiting]</string>
	</dict>
	<key>item - 7</key>
	<dict>
		<key>name</key>
		<string>lottie_alien_7</string>
		<key>displayName</key>
		<string>[Angry Face]</string>
	</dict>
	<key>item - 8</key>
	<dict>
		<key>name</key>
		<string>lottie_alien_8</string>
		<key>displayName</key>
		<string>[Fearful Face]</string>
	</dict>
	<key>item - 9</key>
	<dict>
		<key>name</key>
		<string>lottie_alien_9</string>
		<key>displayName</key>
		<string>[Flushed Face]</string>
	</dict>
	<key>item - 10</key>
	<dict>
		<key>name</key>
		<string>lottie_alien_10</string>
		<key>displayName</key>
		<string>[Face with Steam From Nose]</string>
	</dict>
	<key>item - 11</key>
	<dict>
		<key>name</key>
		<string>lottie_alien_11</string>
		<key>displayName</key>
		<string>[Waving Hand]</string>
	</dict>
	<key>item - 12</key>
	<dict>
		<key>name</key>
		<string>lottie_alien_12</string>
		<key>displayName</key>
		<string>[Person Gesturing No]</string>
	</dict>
	<key>item - 13</key>
	<dict>
		<key>name</key>
		<string>lottie_alien_13</string>
		<key>displayName</key>
		<string>[Smiling Face with Hearts]</string>
	</dict>
	<key>item - 14</key>
	<dict>
		<key>name</key>
		<string>lottie_alien_14</string>
		<key>displayName</key>
		<string>[Nose Pick]</string>
	</dict>
	<key>item - 15</key>
	<dict>
		<key>name</key>
		<string>lottie_alien_15</string>
		<key>displayName</key>
		<string>[Crying Face]</string>
	</dict>
	<key>item - 16</key>
	<dict>
		<key>name</key>
		<string>lottie_alien_16</string>
		<key>displayName</key>
		<string>[Saluting Face]</string>
	</dict>
	<key>item - 17</key>
	<dict>
		<key>name</key>
		<string>lottie_alien_17</string>
		<key>displayName</key>
		<string>[Hammer]</string>
	</dict>
	<key>item - 18</key>
	<dict>
		<key>name</key>
		<string>lottie_alien_18</string>
		<key>displayName</key>
		<string>[Partying Face]</string>
	</dict>
	<key>item - 19</key>
	<dict>
		<key>name</key>
		<string>lottie_alien_19</string>
		<key>displayName</key>
		<string>[Enraged Face]</string>
	</dict>
	<key>item - 20</key>
	<dict>
		<key>name</key>
		<string>lottie_alien_20</string>
		<key>displayName</key>
		<string>[Smiling Face with Sunglasses]</string>
	</dict>
	<key>item - 21</key>
	<dict>
		<key>name</key>
		<string>lottie_alien_21</string>
		<key>displayName</key>
		<string>[Sleeping Face]</string>
	</dict>
	<key>item - 22</key>
	<dict>
		<key>name</key>
		<string>lottie_alien_22</string>
		<key>displayName</key>
		<string>[Face with Hand Over Mouth]</string>
	</dict>
	<key>item - 23</key>
	<dict>
		<key>name</key>
		<string>lottie_alien_23</string>
		<key>displayName</key>
		<string>Grinning Face with Sweat]</string>
	</dict>
	<key>item - 24</key>
	<dict>
		<key>name</key>
		<string>lottie_alien_24</string>
		<key>displayName</key>
		<string>[Face with Tears of Joy]</string>
	</dict>
	<key>item - 25</key>
	<dict>
		<key>name</key>
		<string>lottie_alien_25</string>
		<key>displayName</key>
		<string>[Thinking Face]</string>
	</dict>
	<key>item - 26</key>
	<dict>
		<key>name</key>
		<string>lottie_alien_26</string>
		<key>displayName</key>
		<string>[Face Screaming in Fear]</string>
	</dict>
</dict>
</plist>
